@use "../../sass/colors" as c;
@use "../../sass/variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Press+Start+2P&display=swap');

// Description
.text {
    color: c.$text-description;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

// Icone
.icone {
    top: 0%;
    left: 0%;
    transform: translate(-40%, -20%);
    height: 35px;
}

.notificationButton {
    background-color: c.$bg-color;
    color: c.$icone-notification;

    &:hover {
        background-color: c.$bg-hover-icone-notification !important;
    }
}

 // Responsive pour les écrans Mobile à 360px
@media (max-width: v.$xs) {
    .text {
        font-weight: 0;
    }
}