@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #fff;
  height: 40px;
  width: 170px;
  font-family: Roboto, sans sérif;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: #5169a3;
  padding: 5px 0 0 0;
}

.title:hover {
  background-color: #5169a3;
  color: #fff;
  transition: transform 0.3s ease-in-out,
}

.iconeFleche {
    animation: aller-retour 2s infinite;
  }
  
  @keyframes aller-retour {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }