@use "../../sass/variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

// Container principal
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

// Titre
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #fff;
  height: 40px;
  width: 170px;
  font-family: Roboto, sans sérif;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: #5169a3;
  padding: 5px 0 0 0;
}

// Titre lors du survol de la souris
.title:hover {
  background-color: #5169a3;
  color: #fff;
  transition: transform 0.3s ease-in-out,
}

// Animation de l'icone du haut vers le bas dans une boucle infini
.iconeFleche {
    animation: aller-retour 2s infinite;
  }
  
  @keyframes aller-retour {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  // Responsive pour les écrans Mobile à 360px
  @media (max-width: v.$xs) {
    .container {
      margin-top: 0px;
    }

    .iconeFleche{
      width: 40px;
    }
    
    .title {
      font-size: 17px;
      height: 20px;
      width: 140px;
    }
}