@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.badge {
    padding: 2px 8px;
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}