@use '../../sass/variables.scss' as v;

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
}

// Logo
.navbar__logo {
  width: 160px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

// Responsive pour les écrans de 576px
@media (max-width: v.$sd) {
  .navbar {
    justify-content: center;
  }
}