@use '../../sass/variables.scss' as v;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}

.navbar__logo {
    width: 160px;
    
    img{
        width: 100%;
    }
}

@media (max-width: v.$xs) {
    .navbar {
      justify-content: center;
    }
    .container_PreviousNext {
        display: flex;
       
    }
  }

@media (max-width: v.$sd) {
    .navbar {
      justify-content: center;
    }
  }
