.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}

.navbar__logo {
    width: 160px;
    
    img{
        width: 100%;
    }
}


