@use "./sass/_colors" as c;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(112, 209, 136);
    background: linear-gradient(
      180deg,
      rgba(112, 209, 136, 1) 20%,
      rgba(0, 107, 18, 1) 100%
    );;
}

.header {
    width: 100vw;
}

/* Section details du Pokemon*/
.container_details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container_nomination {
    display: flex;
    flex-direction: column;
}

.container_nomination1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: c.$text-color;

    p {
        margin: 0;
    }
}

.container_types {
    display: flex;
    align-items: center;
}

.container_abilities {
    display: flex;
    flex-direction: column;
    text-align: end;
}

h1 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 20px; /* ajoute une marge au-dessus du nom */
    color: c.$text-color;
    margin-top: 0;
}

.container_image {
    width: 200px; /* définit une largeur pour l'image */
    margin: 0 30px; /* supprime la marge gauche et ajoute une marge droite */
    z-index: 0;
}

.image {
    width: 100%;
}

.number {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    color: #ffffff47;
    z-index: -1;

}
/* Section stattistiques du Pokemon*/
.statistique {
    flex: 1;
}