.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #6493EB;
}

.container_navbar {
    width: 100vw;
}
.container_details {
    display: flex;
    flex-direction: column;
}

.details {
    flex: 1;
}

.statistique {
    flex: 1;
}