@use "./sass/_colors" as c;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.container_PreviousNext {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(180deg, rgb(126, 215, 155) 20%, #1b8740 100%);


    span {
        text-transform: capitalize;
    }
}

.header {
    width: 100vw;
}

/* Section details du Pokemon*/

.container_details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container_nomination1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: c.$text-color;
    width: 330px;

    p {
        margin: 0;
    }
}

.container_nomination2 {
    z-index: 1;
}

.container_types {
    display: flex;
    align-items: center;
}

.container_abilities {
    display: flex;
    flex-direction: column;
    text-align: end;
}

h1 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 20px;
    color: c.$text-color;
    margin-top: 0;
}

.container_image {
    display: flex;
    width: 200px;
    margin: 0 30px;
    z-index: 0;
}

.image {
    height: 200px;
    width: 100%;
}

.number {
    position: absolute;
    top: -80px;
    right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 250px;
    color: #ffffff47;
    z-index: -1;

}

.previous {
    margin-right: 100px;
}

.next {
    margin-left: 100px;
}
// flavorText

.container_flavorText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: c.$text-color;
        margin: 0;
    }
}


/* Section stattistiques du Pokemon*/
.icone {
    height: 50px;
    padding-right: 10px;
}

.container_stats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.statistique {
    flex: 1;
    margin-top: 50px;
}